<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentInfoManage</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>sortMarket</servlet-name>
    <servlet-class>com.java1234.web.sortMarket</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>sortMarket</servlet-name>
    <url-pattern>/sortMarket</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java1234.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>marketListServlet</servlet-name>
    <servlet-class>com.java1234.web.marketListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>marketSaveServlet</servlet-name>
    <servlet-class>com.java1234.web.MarketSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>marketDeleteServlet</servlet-name>
    <servlet-class>com.java1234.web.marketDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userListServlet</servlet-name>
    <servlet-class>com.java1234.web.UserListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userDeleteServlet</servlet-name>
    <servlet-class>com.java1234.web.UserDeleteServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userSaveServlet</servlet-name>
  	<servlet-class>com.java1234.web.UserSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userSaveServlet</servlet-name>
  	<url-pattern>/userSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userDeleteServlet</servlet-name>
    <url-pattern>/userDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userListServlet</servlet-name>
    <url-pattern>/userList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>marketListServlet</servlet-name>
    <url-pattern>/marketList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>marketDeleteServlet</servlet-name>
    <url-pattern>/marketDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>marketSaveServlet</servlet-name>
    <url-pattern>/marketSave</url-pattern>
  </servlet-mapping>
</web-app>